<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Taco Cloud</title>
		<meta charset="utf-8"/>
		<<!--link rel="stylesheet" href="../static/home.css"/>-->
		<style>
			html {
				color: white;
				background-color: black;
			}

			body {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>Welcome to...</h1>
		<img th:src="@{images/taco_cloud.png}" alt="Taco cloud image"/>
		<br/>
		<a href="/design/">Click here to design your taco!</a>
	</body>
</html>
	